img {
    width: 400;
    height: 300;
}
table {
    margin: 10px;
}

title {
    font-size: 2em;
    color:firebrick;
}
body {
     font-family: Times New Roman;
}
p {
   color:deepskyblue;

}


image-resize {
    height: 300px;

}